<div class="mainbox col-md-7">
  <div class="panel panel-info">

    <div class="panel-heading">
      <div class="panel-title">
        <p><%= current_folder.name %> | Shared by: <%= current_folder.owner.username %>
      </div>
    </div>

    <!-- Files Panel List -->

    <div class="panel-body new-user">
      <div class='documents-panel'>

        <table class="table table-striped">
          <col width="10%">
          <col width="30%">
          <col width="10%">
          <col width="20%">
          <col width="30%">
          <thead>
            <tr>
              <th>Visibility</th>
              <th>Document Name</th>
              <th>Kind</th>
              <th>Created At</th>
            </tr>
          </thead>

          <tbody>
              <% current_folder.children.each do |folder| %>
                <tr>
                  <td><%= folder.visibility %></td>
                  <td><%= link_to folder.name, current_folder_path(folder.id) %></td>
                  <td><p>Folder</p></td>
                  <td><p><%= folder.created_at %></p></td>

                </tr>
              <% end %>
              <% current_folder.uploads.each do |upload| %>
                <% extn = File.extname  upload.name   %>
                <% name = File.basename upload.name, extn %>
                  <tr>
                    <td>
                    </td>
                    <td>
                      <%= link_to name, upload.url -%>
                    </td>
                    <td>
                        <p><%= extn %></p>
                    </td>
                    <td>
                        <p><%= upload.created_at %></p>
                    </td>
                    <td>
                      <%= link_to 'Download', download_path(upload), method: :post, class: "btn btn-primary btn-xs" %>
                      <%= link_to 'Delete', uploads_destroy_path(upload), method: :post, class: "btn btn-danger btn-xs" %>
                      <%= link_to 'Comment', upload_path(upload), class: "btn btn-caution btn-xs" %>
                    </td>
                  </tr>
              <% end %>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
