
  <div class="mainbox col-md-3 col-md-offset-1">

    <div class="panel panel-info">
      <div class="panel-heading">
          <div class="panel-title">Personal Folders</div>
      </div>

      <div class="panel-body">
        <div class='personal-folders-panel'>
          <div class='col-md-12'>
            <div class="float-left"><%= link_to "Home", root_folder_path, class: 'home-link' %></div>
            <div class='float-right'><%= link_to "Create a New Folder", new_folder_path, class: 'new-folder-link' %><a href='/folders/new' %><span class="glyphicon glyphicon-folder-open"></span></a></div>
          </div>
          <div class='col-md-12'>
            <div class="float-left">/<%= current_folder.name %></div>
            <div class='float-right'><a href='/up'><span class="glyphicon glyphicon-level-up"></span></a><%= link_to "Parent Folder", up_path %></div>
          </div>
          <div class='col-md-12'>
            <% current_folder.children.each do |folder| %>
              <ul>
                <li><%= link_to folder.name, current_folder_path(folder.id) %></li>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
          <div class="panel-title">Shared Folders</div>
      </div>

      <div class="panel-body">
        <div class='shared-folders-panel'>
          <div class='col-md-12'>
            <div class="float-left"><%= link_to "Home", root_folder_path, class: 'home-link' %></div>
            <div class='float-right'><%= link_to "Create a New Folder", new_folder_path, class: 'new-folder-link' %><a href='/folders/new' %><span class="glyphicon glyphicon-folder-open"></span></a></div>
          </div>
          <div class='col-md-12'>
            <div class="float-left">/<%= current_folder.name %></div>
            <div class='float-right'><a href='/up'><span class="glyphicon glyphicon-level-up"></span></a><%= link_to "Parent Folder", up_path %></div>
          </div>
          <div class='col-md-12'>
            <% current_folder.children.each do |folder| %>
              <ul>
                <li><%= link_to folder.name, current_folder_path(folder.id) %></li>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="mainbox col-md-7">
    <div class="panel panel-info">

      <div class="panel-heading">
        <div class="panel-title">
          <% current_folder.path_to_folder.each do |folder| %>
            <%= link_to "#{folder.name} / ", current_folder_path(folder.id) %>
          <% end %>
        </div>
      </div>

      <div class="panel-body new-user">
        <div class='documents-panel'>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Document Name</th>
                <th>Kind</th>
                <th>Created At</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <% current_folder.children.each do |folder| %>
                  <td>
                    <%= link_to folder.name, current_folder_path(folder.id) %>
                  </td>
                  <td>
                      <p>Folder</p>
                  </td>
                  <td>
                      <p><%= foder.created_at %></p>
                  </td>
                <!-- <%  uploads.each do |upload|  %> -->
                  <td>
                     <!-- <p><%= uploads.type_of_file %>-->
                  </td>
                  <td>
                    <!-- <p><%= upload.created_at %> -->
                  </td>
                <% end %>
              </tr>
              <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
              </tr>
              <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
