<h1>Admin Dashboard Page</h1>
<div class="container">
  <% @users.each do |user| %>
    <div class="user">
      <p>
        Username: <%= user.username %>, Email: <%= user.email %>, Cellphone: <%= user.cellphone %>,
            User status: <%= user.status %>,
      </p>
      <p>
        Root Folder #: <%= user.root %>
      </p>
    </div>
  <% end %>
</div>



<table class="table table-bordered table-hover">
  ...
</table>
