<!DOCTYPE html>
<html>
  <head>
    <title>StuffBox</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Indie+Flower', type='text/css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "layouts/navbar" %>
    <%= yield %>
  </body>
</html>
